*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;    

}
nav{
    background-color: #20415f;
}
#placeholder{
    height: 80px;
    visibility: hidden;
}
a{
    text-decoration: none;
    color:#f9f9f9;
}
a:hover{
    color: #eee9cd;
}
nav.increase{
    height: 110px;
    -webkit-transition: 2s; /* Safari */
    transition: 2s;
}
nav.increase img{
    
}
nav.decrease{
    height: 70px;
    -webkit-transition: 2s; /* Safari */
    transition: 2s;
}
.navbar-nav{
    display: flex;
    flex-grow: 1;
}
.nav-items{
    flex: 1;
    height: 100%;
    line-height: 80px;
    padding: 0;
    text-align: center;
}
.nav-items img{
    object-fit: cover;
    height: 120px;
    width: 120px;
}
.nav-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #eee9cd;
    transition: width .2s;
}
.nav-link:hover::after{
    width: 100%
}
.contents{
    background-color: #f9f9f9;
}
section{
    opacity: 0;
    transition: translate(0, 20px);
    transition: all 1s;
}
section.fadein{
    
    background-color: aquamarine;
    
    opacity: 1;
    transform: translate(0, 0);
}
#head-image {
    width: 100%;
    max-height: 42em;
    min-height: 42em;
    -o-object-fit: fill;
    object-fit: fill;
    border-radius: 0em;
    display:block;
    background-size: fill;
}
#text-space h2{
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}
.lists strong{
    margin-left: 60px;
}
.flag a{
    color: black;
    text-decoration: none;
}
.flag a:hover{
    color: #20415f;
}
.school-img{
    width: 100%;
}
#school .row .col{
    margin: 0;
}

.overlay-left{
    position: absolute;
    bottom: 0;
    left: 319px;
    right: 0;
    background-color: #20415f;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    z-index: 1;
}
.overlay-left .text{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
.col-img-left:hover .overlay-left {
    width: 199%;
}

.overlay-right-1, .overlay-right-2{
    position: absolute;
    bottom: 0;
    left: -625px;
    right: 0;
    background-color: #20415f;
    overflow: hidden;
    display: none;
    width: 197%;
    height: 100%;
    z-index: 1;
}
.overlay-right-1 .text{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
.overlay-right-2 .text{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
.col-img-right-1, .col-img-right-2{
    right: 10px;
}
#projects, #posts{
    flex: 0 1 auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.project-items{
    display: inline-block;
    transform: scale(1.2);
    background-color: yellow;
    min-width: 500px;
    max-width: 500px;
    height: 350px;
    margin: 3em 5em;
    border: 1px solid rgb(100%, 100%, 100%);
    border: 1px solid rgba(100%, 100%, 100%, 0.8);
    transition: all .2s ease-in-out;
}
.project-items:hover{
    transform: scale(1.25);
}
#project-title{
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin: 0 auto;
    text-align: center
}
.post-items{
    display: inline-block;
    transform: scale(1.2);
    background-color: yellow;
    min-width: 500px;
    max-width: 500px;
    height: 350px;
    margin: 3em 5em;
    border: 1px solid rgb(100%, 100%, 100%);
    border: 1px solid rgba(100%, 100%, 100%, 0.8);
    transition: all .2s ease-in-out;
}
.post-items:hover{
    transform: scale(1.25);
}
#post-title{
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin: 0 auto;
    text-align: center
}
