{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<nav class="fixed-top navbar navbar-expand-lg increase">
  <div class="nav-items">
    <img src="{% static 'img/gp.png' %}">
  </div>  
  <div class="nav-items">
    <a class="nav-link" href="#timeline">TimeLine</a>
  </div>
  <div class="nav-items">
    <a class="nav-link" href="#school">School</a>
  </div>
  <div class="nav-items">
    <a class="nav-link" href="#experience">Work Experience</a>
  </div>
  <div class="nav-items">
    <a class="nav-link" href="#projects">Projects</a>
  </div>  
  <div class="nav-items">
    <a class="nav-link" href="#posts">Posts</a>
  </div>                
    
    </span>
  </div>
</nav>
<div class="contents">
  <div class="container">
    <section id='timeline' >
      <h1>timeline</h1>
    </section>
    <section id='school' >
      <h1>school</h1>
    </section>
    <section id='experience' >
      <h1>experience</h1>
    </section>
    <section id='projects' >
      <h1>projects</h1>
    </section>
    <section id='posts' >
      <h1>posts</h1>
    </section>

  </div>
</div> 

{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <!-- <img src="{% static 'img/gp.png' %}" alt=""> -->
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
  <a href="{% url 'social:begin' 'github' %}">Login with Github</a>
  <a href="{% url 'social:begin' 'facebook' %}">Login with FB</a>
{% endif %}
<div class="bottom"></div>
{% endblock %}

