{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<nav class="fixed-top navbar navbar-expand-lg increase">
  <div class="nav-items">
    <a href="#header">
    <img src="{% static 'img/gp.png' %}">
    </a>
  </div>  
  <div class="nav-items">
    <a class="nav-link" href="#timeline">TimeLine</a>
  </div>
  <div class="nav-items">
    <a class="nav-link" href="#school">School</a>
  </div>
  <div class="nav-items">
    <a class="nav-link" href="#experience">Work Experience</a>
  </div>
  <div class="nav-items">
    <a class="nav-link" href="#projects">Projects</a>
  </div>  
  <div class="nav-items">
    <a class="nav-link" href="#posts">Posts</a>
  </div>                
    
    </span>
  </div>
</nav>


<div id="placeholder"></div>
<div class="contents">

  <div class="container">
    <section id='header'>
      <div class="row">
        <div class="col-sm-6" id='img-space'>
            <img id='head-image' src="{% static 'img/header_pic.jpg' %}" alt="">
        </div>
        <div class="col-sm-6" id='text-space'>
            <h2>GP LEE</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam laborum iusto harum, dolorum facere reprehenderit et nemo debitis molestias velit eaque nostrum optio vitae perferendis assumenda quos. Illum, temporibus necessitatibus. lorem30</p>
            <svg height="63" width="400">
              <g>
                <text x="20" y="30" fill="black" style='font: 20px sans-serif'>Programming Skills</text>
                <text x="310" y="30" fill="black">(strong)</text>
              <polygon points="340,40 340,60 370,50" style="fill:#f9f9f9;stroke:black;stroke-width:3" />
              Sorry, your browser does not support inline SVG.
              <line x1="0" y1="50" x2="340" y2="50" style="stroke:black;stroke-width:3" />
            </g>
            </svg>
            <div class="lists">
              <p>(Programming language)<br> <strong>Go  Ruby &emsp; &emsp; Java &emsp;   Python  </strong></p>
              <p>(FrontEnd Development)<br> <strong style='margin-left:160px;'>HTML CSS Javascript</strong></p>
              <p>(Javascript Framework)<br> <strong style='margin-left:110px;'> React &emsp;  D3 &emsp; &emsp;  jQuery</strong></p>
              <p>(BackEnd Development)<br> <strong style='margin-left:60px;'> PHP  &emsp; &emsp; &emsp; ROR  &emsp; &emsp; Python(Django)</strong></p>
              <p>(DBMS)<br> <strong style='margin-left:75px;'> MongoDB  &emsp; &emsp; PostgreSQL  MySQL</strong></p>
            </div>
          </div>        
      </div>
    </section>

    <section id='timeline' >
      {# TimeLine #}

      <ul class="timeline">

          {# Item1 #}
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag"><a href="https://wp.nyu.edu/vip/u%E2%80%A2start/">U•Start</a></span>
                <span class="time-wrapper"><span class="time">June. 2018 - present</span></span>
              </div>
              <div class="desc">U•Start is a.k.a LinkedIn for college students where students can highlight all their skills, portfolio, and past projects using built-in widgets such as Github, Youtube, Codepen etc.. I am responsible for frontEnd implementation using HTML, CSS, Javascript and fetch the backend data using Javascript &amp; Ajax. We are using Go &amp; ElasticSearch for the backend to provide faster and better fetching &emp; searching data. The Beta version is expected to launch by the september 2018   </div>
            </div>
          </li>
          
          {# Item2 #}
          <li>
            <div class="direction-l">
              <div class="flag-wrapper">
                  <span class="flag"><a href="https://www.collegeprep.org/">CollegPrep</a></span>
                  <span class="time-wrapper"><span class="time">Jan. 2018 - May. 2018</span></span>
              </div>
              <div class="desc">CP's goal is to provide students with quality college preparatory services for free. I was responsible for implementing RESTful API using Django &amp; PostgreSQL, specifically payment gateway such as Stripe &amp; Social account registration using API tokenization</div>
            </div>
          </li>
  
          {# Item3 #}        
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                  <span class="flag"><a href="https://bugs-nyu.github.io/">BUGS - NYU</a></span>
                  <span class="time-wrapper"><span class="time">Feb. 2018 - May 2018</span></span>
              </div>
              <div class="desc">NYU programming group. Our goal was to build an e-commerce website using PHP and MySQL, and my role was to make a data model/schema and middleware</div>
            </div>
          </li>
  
          {# Item4 #}        
          <li>
            <div class="direction-l">
              <div class="flag-wrapper">
                  <span class="flag"><a href="http://www.givorange.com/">Giv Orange Inc.</a></span>
                  <span class="time-wrapper"><span class="time">Jan. 2016 - present</span></span>
              </div>
              <div class="desc">I was responsible for searching fundraising strategies and targeting donors based on the excel files</div>
            </div>
          </li>
  
          {# Item5 #}        
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                  <span class="flag"><a href="https://likelion.net/">LikeLion NYU</a></span>
                  <span class="time-wrapper"><span class="time">Jan. 2016 - May 2018</span></span>
              </div>
              <div class="desc">I have taught over 300 hours of Web development skills</div>
            </div>
          </li>
  
          {# Item6 #}        
          <li>
            <div class="direction-l">
              <div class="flag-wrapper">
                  <span class="flag"><a href="http://www.army.mil.kr/">ROK Army</a></span>
                  <span class="time-wrapper"><span class="time">Sept. 2014 - Jun. 2016</span></span>
              </div>
              <div class="desc">I was responsible for making clean, intuitive and efficient Excel files for the daily morning meetings of generals</div>
            </div>
          </li>
          {# Item7 #}        
          <li>
              <div class="direction-r">
                <div class="flag-wrapper">
                  <span class="flag"><a href="http://www.nyu.edu/">NYU</a></span>
                  <span class="time-wrapper"><span class="time">Sept. 2013 - present</span></span>
                </div>
                <div class="desc">Major: <strong>Computer Science</strong> <br>Minor: <strong>Web Development</strong></div>
              </div>
            </li>

          {# Item8 #}        
          <li>
              <div class="direction-l">
                <div class="flag-wrapper">
                    <span class="flag"><a href="https://www.holderness.org/page">Holderness</a></span>
                    <span class="time-wrapper"><span class="time">Sept. 2008 - Sept. 2013</span></span>
                </div>
                <div class="desc">I went to Holderness School, a bording school in NH</div>
              </div>
            </li>            
             
        </ul>      

    </section>
    <section id='school'>
      <div class="row">
        <div class="col-sm-4 col-img-left" >
            <img src="https://i.vimeocdn.com/portrait/25153753_300x300" alt="">
            <div class="overlay-left">
              <div class="text"> description of the school Hello world</div>
            </div>
        </div>
        <div class="col-sm-8 col-desc-left">
            <p>my role in the school  Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum rerum delectus ea totam perspiciatis facere impedit, quo pariatur accusantium esse maiores autem voluptatum fugiat possimus? Placeat impedit magnam dicta suscipit.</p>
        </div>
      </div>

      <br>

      <div class="row">
          <div class="col-sm-8 col-desc-right-1">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum rerum delectus ea totam perspiciatis facere impedit, quo pariatur accusantium esse maiores autem voluptatum fugiat possimus? Placeat impedit magnam dicta suscipit.</p>
          </div>
          <div class="col-sm-4 col-img-right-1" >
              <img id='img-right' src="https://insidehpc.com/wp-content/uploads/2018/05/photo-300x300.png" alt="">
              <div class="overlay-right-1">
                <div class="text">Hellodfdf world</div>
              </div>
          </div>          
        </div>      
    </section>
    <br>
    <section id='experience' >
        <div class="row">
            <div class="col-sm-4 col-img-left" >
                <img src="https://static1.squarespace.com/static/5a55ae1cbce176cf576cfec2/t/5b8319b8aa4a996cc7ac1ed6/1535325043842/?format=1500w" alt="" style='width:300px; height:300px;'>
                <div class="overlay-left">
                  <div class="text"> description of the school Hello world</div>
                </div>
            </div>
            <div class="col-sm-8 col-desc-left">
                <p>my role in the school  Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum rerum delectus ea totam perspiciatis facere impedit, quo pariatur accusantium esse maiores autem voluptatum fugiat possimus? Placeat impedit magnam dicta suscipit.</p>
            </div>
          </div>
    
          <br>
    
          <div class="row">
              <div class="col-sm-8 col-desc-right-2">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum rerum delectus ea totam perspiciatis facere impedit, quo pariatur accusantium esse maiores autem voluptatum fugiat possimus? Placeat impedit magnam dicta suscipit.</p>
              </div>
              <div class="col-sm-4 col-img-right-2" >
                  <img id='img-right' src="https://pbs.twimg.com/profile_images/904111545906585601/_H7tRXZx_400x400.jpg" alt="" style='width:300px; height:300px;'>
                  <div class="overlay-right-2">
                    <div class="text">Hellodfdf world</div>
                  </div>
              </div>          
            </div>       
    </section>
    <br>
    <section id='projects' >
      <h1>projects</h1>
    </section>
    <br>
    <section id='posts' >
      <h1>posts</h1>
    </section>

  </div>

  {% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <!-- <img src="{% static 'img/gp.png' %}" alt=""> -->
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
  <a href="{% url 'social:begin' 'github' %}">Login with Github</a>
  <a href="{% url 'social:begin' 'facebook' %}">Login with FB</a>
{% endif %}
<div class="bottom"></div>  
</div> 


{% endblock %}

